* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

p {
        font-size: 16px;
    }

/*-------Header og nav--------*/
    .header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #255D79;
        color: #ffffff;
        
    }

    .header p {
        display: inline-block;
        font-size: 48px;
    }

    .header p .seo {
        color: #d9dcd6;
    }

    .header nav {
        padding-top: 15px;
        margin-right: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }


    .header nav ul {
        list-style-type: none; 
        display: flex;
        flex-wrap: wrap;
    }

    .header nav ul li {
        display: inline-block;
        margin-left: 25px;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        
    }

    a:focus-visible {
    outline: 4px solid currentColor;
    outline-offset: 6px;
    }


    
/*-------Hero--------*/
    .hero {
        height: 600px;
        width: 100%;
        margin-bottom: 25px;
    
        background-image: url("../images/digital-marketing-meeting.webp");
        background-size: cover;
        background-position: center;
    }


/*-------Content sektion--------*/
    .float-left {
        float: left;
        margin-right: 25px;
    }

    .float-right {
        float: right;
        margin-left: 25px;
    }


    main.content {
        display: flex;
        
        flex-wrap: wrap;
        align-items: stretch;
        gap: 1.2rem;
        margin: 50px;

      
    }
    
  
    .content h1 {
        font-size: 48px;
        margin-top: 4px;
        margin-bottom: 16px;
    }



    main.content > h1 {
        flex-basis: 100%;
    }

    /*---------Services--------*/

    .marketing {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 2rem;
        
    }

    .services {
        width: 100%;
        padding: 50px;
        
        
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #025b92;
        color: #ffffff;
    }


    

    .services img {
        max-height: 200px;
        max-width: 100%;
    }
    



    .services h2 {
        margin-bottom: 20px;
        font-size: 36px;
    }

    




/*-------Benefits--------*/
    .benefits {
        display: flex;
        flex-direction: column;
        flex: 0 1 300px; /*benefits må ikke vokse, men må gerne blive mindre. bredden er 300 px*/


        align-items: center;
        gap: 1.4rem;
        
        padding: 20px;
        clear: both;
        float: right;
       
        height: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #37a2d7;
    }


    

    .benefits h2 {
        color: #000000;
        margin-bottom: 16px;
    }

    .benefit-lead, .benefit-brand, .benefit-cost {
        margin-bottom: 32px;
        color: #000000;
    }


    .benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
        margin-bottom: 10px;
        text-align: center;
    }

    .benefits p {
        width: 100%;
    }


    .benefit-lead img, .benefit-brand img, .benefit-cost img {
        display: block;
        margin: 10px auto;
        max-width: 150px;
    }




/*-------Footer--------*/
    .footer {
        padding: 30px;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }

    #footer-tekst {
        font-size: 20px;
    }


@media (max-width: 760px) {
  .header {
    flex-direction: column;
  }

  .header nav {
    float: none;
    margin-right: 0;

  }

  #nav-liste {
    gap: 16px;
  }


  .header nav ul li {
        margin-left: 0px;
    }


  main.content {
    flex-direction: column;
    margin: 16px;
  }

  .content h1 {
    font-size: 32px;
  }

  .services {
    flex-direction: column;
    padding: 32px;
  }

  .services h2{
    font-size: 24px;
  }

  .float-left {
        float: none;
    }

    .float-right {
        float: none;
    }

  .benefits {
    width: 100%;
  }
}